<div class="sign-up-form">
  <h1 class="tittle"><%= t ".registration" %>
    <i class="fa fa-registered"></i>
  </h1>
    <%= form_for resource, as: resource_name,
      url: registration_path(resource_name) do |f| %>
      <%= devise_error_messages! %>
  <div class="sign-up">
     <h3 class="tittle reg"><%= t ".info" %>
        <i class="fa fa-user"></i>
      </h3>
    <div class="sign-u">

      <div class="sign-up1">
        <%= f.label :email %>
      </div>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="clearfix"> </div>
      <br/>
    </div>

    <div class="sign-u">

      <div class="sign-up1">
        <%= f.label :name %>
      </div>

      <div class="field">
        <%= f.text_field :name, autofocus: true, autocomplete: "off" %>
      </div>

      <div class="clearfix"> </div>
      <br/>
    </div>

    <div class="sign-u">
      <div class="sign-up1">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <div class="clearfix"> </div>
      <br/>

    </div>

    <div class="sign-u">
      <div class="sign-up1">
        <%= f.label :password_confirmation %><br />
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      <div class="clearfix"> </div>
      <br/>
    </div>
    <%= f.submit t(".sign_up") %>
  </div>
  <% end %>
</div>
