<!-- Root Comment-->
<div class="media response-info">
  <div class="media-left response-text-left">
    <%= link_to "#" do %>
      <%= gravatar_for comment.user %>
    <% end %>
    <h5><%= comment.user.name %></h5>
  </div>

  <div class="media-body response-text-right">
    <p class="content-<%= "comment-#{comment.id}" %>"><%= comment.content %></p>
    <p>
      <% if signed_in? %>
        <span>
          <%= link_to t(".reply"), "#", class: "comment-form-reply",
            data: {id_cm: comment.id} %>
        </span>|
      <% end %>

      <% if signed_in? && comment.belong_to?(current_user) %>
      <span>
        <%= link_to t(".edit"), edit_comment_path(comment), remote: true,
          class: "comment-form-edit" %>
      </span>|
      <% end %>

      <span><%= time_ago_in_words comment.created_at %></span>
    </p>
  </div>
</div>

<div class="media response-info">
  <div class="subcomment-<%= "comment-#{comment.id}" %>">
    <% if comment.children.present? %>
      <%= render partial: "comments/subcomment", collection: comment.children %>
    <% end %>
  </div>
</div>
<!-- Sub Comment -->

<!-- form -->
<div class="media response-info">
  <% if signed_in? %>
    <div class="form-initial-load comment-form-<%= "#{comment.id}"%>">
      <div class="media-body response-text-right comment-post">
        <% if comment.root? %>
          <%= render "comments/form", new_comment: comment.children.build,
            parent_id: comment.id, post: comment.post %>
        <% else %>
          <%= render "comments/form", new_comment: comment.root.children.build,
            parent_id: comment.parent_id, post: comment.post %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<!--form  -->

<!-- form -->
<div class="media response-info">
  <% if signed_in? && comment.belong_to?(current_user) %>
    <div class="form-initial-load edit-comment-form-<%= "#{comment.id}"%>">
      <div class="media-body response-text-right comment-post">
        <%= render "comments/form", new_comment: comment, post: comment.post,
          post_id: comment.post.id, parent_id: comment.parent_id %>
      </div>
    </div>
  <% end %>
</div>
<!--form  -->
