<%= form_for new_comment, class: "comment-post", remote: true do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :post_id, value: post.id %>
  <p><%= f.text_area :content, cols: 63, rows: 3, require: "true" %></p>
  <p><%= f.submit t(".comment"), class: "btn btn-primary"%></p>
<% end %>
