<h2 class="text-center"><%= t ".all_groups" %> <br></h2>
<%= link_to new_group_path, remote: true, class: "btn btn-primary" do %>
  <span class="glyphicon glyphicon-plus-sign"></span>
  <%= t ".create_group" %>
<% end %>
<div id="myModal"></div>
<% if @groups.any? %>
  <%= render @groups %>
<% end %>
<br>
<div class="text-center">
  <%= paginate @groups, theme: "twitter-bootstrap-3" %>
</div>
