<h1 class="text-center" > <%= @group.name %> </h1>
<% if @group.picture? %>
  <%= image_tag (@group.picture.url), class: "image" %>
<% end %>
<%= render "join_form", group: @group %>
<% if signed_in? && current_user.join?(@group) %>
  <%= render "shared/post_form", new_post: @support.current_user_posts_build %>
<% end %>
<ol>
  <%= render "post", posts: @posts, group: @group,
    new_comment: @support.init_comment %>
</ol>
<div class="text-center">
  <%= paginate @posts, theme: "twitter-bootstrap-3" %>
</div>
