<%= form_for new_post do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <h3><%= current_user.name %></h3>
    <%= f.text_area :content, placeholder: t(".new_post") + current_user.name,
      class: "form-control" %>
    <%= f.hidden_field :group_id, value: params[:id] %>
  <%= f.submit t(".post"), class: "btn btn-primary" %>
<% end %>
