<div class="col-md-3 top-nav">
  <div class="logo">
    <a href="index.html"><h1><%= t ".blogger" %></h1></a>
  </div>

  <div class="top-menu">
    <span class="menu"> </span>
    <ul class="cl-effect-16">
      <li>
        <%= link_to t(".groups"), groups_path, data:{hover: t(".groups")} %>
      </li>
      <li>
        <%= link_to t(".home"),  edit_user_registration_path, data:{hover: t(".home")} %>
      </li>
      <li>
        <%= link_to t(".home"), "#", data:{hover: t(".home")} %>
      </li>
      <li>
        <%= link_to t(".home"), "#", data:{hover: t(".home")} %>
      </li>
      <li>
        <%= link_to t(".home"), "#", data:{hover: t(".home")} %>
      </li>
      <li>
        <%= link_to t(".home"), "#", data:{hover: t(".home")} %>
      </li>
    </ul>
  </div>
</div>
