<div class="h-top" id="home">
  <div class="top-header">
    <ul class="cl-effect-16 top-nag">
      <li><%= link_to t(".home"), root_path, data:{hover: t(".home")} %></li>
      <% if user_signed_in? %>
        <li>
          <%= link_to t(:log_out), destroy_user_session_path, method: :delete,
            data:{hover: t(".log_out")} %>
        </li>
        <li>
          <%= link_to t(".my_profile"), users_path(current_user), data:{hover: t(".my_profile")} %>
        </li>
      <% else %>
      <li>
        <%= link_to t(".menu.registration"),new_user_registration_path,
          data:{hover: t(".registration")} %>
      </li>
      <li><%= link_to t(".login"), user_session_path, data:{hover: t(".login")} %>
      </li>
      <% end %>
    </ul>
    <div class="search-box">
       <div class="b-search">
        <form>
          <input type="text" value="Search">
          <input type="submit" value="">
        </form>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
