<!DOCTYPE html>
<html>
  <head>
    <title>FacebookGroup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= render "layouts/top_menu"%>
    <div class="full">
      <%= render "layouts/left_menu"%>
      <div class="col-md-9 main">
        <%= yield %>
        <div class="clearfix"> </div>
        <%= render "layouts/footer"%>
      </div>
    </div>
  </body>
</html>
